.toolbar {
  height: 7.5rem;
  justify-content: center;
  background-color:#03338b;
  border-radius:0px 0px 50px 50px;
  margin-bottom: 40px;
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  width: 25%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #0c7cd5;
}

.hide-contents {
  display: none;
}

.user-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.usuario h2{
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}


.profile-info p {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile__button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.profile__button:hover {
  background-color: #0069d9;
}


.container {
  margin-top: 50px;
}

form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

form label {
  font-weight: bold;
}

form .form-control {
  margin-bottom: 10px;
}

.btn-block {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

.logo {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #03338b;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  margin-top: auto;
}

.logo img {
  position: absolute; /* adiciona uma posição absoluta para sobrepor a imagem ao texto */
  top: 0; /* define a posição vertical da imagem em relação ao elemento pai */
  left: 50%; /* define a posição horizontal da imagem em relação ao elemento pai */
  transform: translateX(-50%); /* centraliza a imagem horizontalmente */
  height: 43px;
  padding-top: 5px;
}