.toolbar {
  height: 7.5rem;
  justify-content: center;
  background-color:#03338b;
  border-radius:0px 0px 50px 50px;
  margin-bottom: 40px;
}
h1 {
  font-family: "Ruda Black", sans-serif;
  font-size: 36px; /* aumenta o tamanho da fonte para 36 pixels */
  font-weight: 700; /* define a espessura da fonte para 300 (mais fina) */
  margin: 0;
  color: #fff;
  }

.container {
  margin-top: 130px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 40px;
  }
}

@media (max-height: 768px) {
  .container {
    margin-top: 40px;
  }
}

form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

form label {
  font-weight: bold;
}

form .form-control {
  margin-bottom: 10px;
}

.btn-block {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

.logo {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #03338b;
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

.logo img {
  position: absolute; /* adiciona uma posição absoluta para sobrepor a imagem ao texto */
  top: 0; /* define a posição vertical da imagem em relação ao elemento pai */
  left: 50%; /* define a posição horizontal da imagem em relação ao elemento pai */
  transform: translateX(-50%); /* centraliza a imagem horizontalmente */
  height: 43px;
  padding-top: 5px;
}