.toolbar {
  height: 7.5rem;
  justify-content: center;
  background-color:#03338b;
  border-radius:0px 0px 50px 50px;
  margin-bottom: 40px;
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 31%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .value {
  color: #2196f3;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card .description {
  font-size: 14px;
  color: #999;
}

.chart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%; /* ajuste a largura máxima desejada */
  max-height: 400px; /* ajuste a altura máxima desejada */
}

.chart h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.button-container {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  width: 25%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #0c7cd5;
}

.hide-contents {
  display: none;
}
