<mat-toolbar class="toolbar">
  <img src='/assets/logo2.png' class="img">
</mat-toolbar>

<div class="dashboard">
<div class="header">
  <h1>Dashboard</h1>
</div>

<div class="button-container">
  <div class="button-row">
    <button class="button"><img src="/assets/button_edu.png"></button>
    <button class="button"><img src="/assets/button_addDespesa.png"></button>
    <button class="button"><img src="/assets/button_addReceita.png"></button>
    <button class="button"  routerLink="/titulos"><img src="/assets/button_extrato.png"></button>
  </div>
  <div class="button-row">
    <button class="button" routerLink="/centrocusto"><img src="/assets/button_info.png"></button>
    <button class="button"><img src="/assets/button_sonho.png"></button>
    <button class="button" routerLink="/usuarios"><img src="/assets/button_user.png"></button>
    <button class="button" routerLink="/grafico"><img src="/assets/button_config.png"></button>
  </div>
</div>

<div class="cards">
  <div class="card">
    <h2>Despesas</h2>
    <p class="value" style="color: red;">{{dashboardData.totalApagar | currency:'BRL':'symbol':'1.2-2'}}</p>
    <p class="description">Total de despesas</p>
  </div>
  <div class="card">
    <h2>Receitas</h2>
    <p class="value"  style="color: green;">{{dashboardData.totalAreceber | currency:'BRL':'symbol':'1.2-2'}}</p>
    <p class="description">Total de receitas</p>
  </div>
  <div class="card">
    <h2>Saldo Atual</h2>
    <p class="value" style="color: blue">{{dashboardData.saldo | currency:'BRL':'symbol':'1.2-2'}}</p>
    <p class="description">Saldo Atual</p>
  </div>
</div>

<div class="chart">
  <h2>Gráfico centro</h2>
  <canvas id="myChart"></canvas>
</div>
</div>
<app-grafico-centrocusto></app-grafico-centrocusto>

