<mat-toolbar class="toolbar">
  <img src='/assets/logo2.png' class="img">
</mat-toolbar>

<div class="dashboard">

  <div class="button-container">
    <div class="button-row">
      <button class="button"  routerLink="/dashboard"><img src="/assets/button_home.png">
        <span style="color: black;">Home</span>
      </button>
      <button class="button" (click)="openModal(contentCriar, 0)"><img src="/assets/button_addReceita.png">
      <span style="color: black;">Adicionar Centro de Custo</span>
      </button>
      <button class="button" routerLink="/titulos"><img src="/assets/button_titulo.png">
        <span style="color: black;">Titulos</span>
      </button>
      <button class="button"  onclick="location.reload()"><img src="/assets/button_sair.png">
        <span style="color: black;">Sair</span>
      </button>
    </div>
  </div>
  
 
    <div class="row ">
      <div class="col-md-12 ">
        <table class="table table-hover  button-container">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descrição</th>
              <th scope="col">Observação</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let centrocusto of centrocustoData">
              <th scope="row">{{ centrocusto.id }}</th>
              <td>{{ centrocusto.descricao }}</td>
              <td>{{ centrocusto.observacao }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="openEditarModal(content, centrocusto.id)">Editar</button>

                <button type="button" class="btn btn-danger btn-sm" (click)="removerCentroCusto(centrocusto.id)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #contentCriar let-modal>
      <div class="modal-header bg-primary text-light">
        <h4 class="modal-title">Criar Centro de Custo</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cancelar')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao"  name="descricao" [(ngModel)]="descricao">
          </div>
          <div class="form-group">
            <label for="observacao">Observação</label>
            <input type="text" class="form-control" id="observacao"  name="observacao" [(ngModel)]="observacao">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="criarCentroCusto()">Criar</button>
        <button type="button" class="btn btn btn-danger" (click)="modal.dismiss('cancelar')">Cancelar</button>
      </div>
    </ng-template>
  
   
<!-- Modal de Edição -->
<ng-template #content let-modal>
  <div class="modal-header bg-primary text-light">
    <h4 class="modal-title">Editar Centro de Custo</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cancelar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalFormulario">
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" class="form-control" formControlName="descricao" id="descricao" placeholder="Digite a descrição do centro de custo">
      </div>
      <div class="form-group">
        <label for="observacao">Observação:</label>
        <input type="text" class="form-control" formControlName="observacao" id="observacao" placeholder="Digite a observação do centro de custo">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="atualizarCentroCusto()">Salvar</button>
    <button type="button" class="btn btn btn-danger" (click)="modal.dismiss('cancelar')">Cancelar</button>
  </div>
</ng-template>
</div>


<footer>
  <div class="logo">
    <img src="/assets/logo_techninja.png" alt="Logo">
    <p>Desenvolvido por TechNinja</p>
  </div>
</footer>
